#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "bat"
    "bitwarden-cli"
    "chezmoi"
    "fd"
    "jo"
    "jq"
    "kubectl"
    "kubecolor"
    "lsd"
    "mise"
    "rclone"
    "rsync"
    "starship"
    "terraform"
    "tree"
    "yq"
    "zoxide" -}}
{{ $casks := list
    "ghostty"
    "firefox"
    "font-caskaydia-cove-nerd-font"
    "keymapp"
    "visual-studio-code" -}}

{{ if .personal -}}
{{   $brews = concat $brews (list
      "imagemagick"
      "openjdk"
      "yt-dlp") -}}
{{   $casks = concat $casks (list
      "adobe-creative-cloud"
      "balenaetcher"
      "boosteroid"
      "caffeine"
      "crossover"
      "discord"
      "firefox"
      "minecraft"
      "modrinth"
      "openmtp"
      "qflipper"
      "signal"
      "spotify"
      "utm"
      "vlc"
      "whatsapp") -}}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
