if status is-interactive
{{- if lookPath "brew" }}
eval ({{- lookPath "brew" }} shellenv)
{{- end }}

{{ if lookPath "direnv" }}
if type -q direnv
    {{ lookPath "direnv" }} hook fish | source
end
{{ end }}

{{ if lookPath "thefuck" }}
if type -q thefuck
    {{ lookPath "thefuck" }} --alias | source
end
{{ end }}

{{ if lookPath "neofetch" }}
# Set greeting to neofetch
    function fish_greeting
        {{ lookPath "neofetch" }}
    end
{{ end }}
end

{{ if lookPath "starship" }}
if type -q starship
    {{ lookPath "starship" }} init fish | source
end
{{ end }}
