[user]
	name = stevewm
	email = 34654219+duhio@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[merge]
  ff = only
[push]
	autoSetupRemote = true
[pull]
  rebase = true
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
