# general
{{- if (eq .chezmoi.os "darwin") }}
    alias dl 'cd ~/Downloads'
    alias dt 'cd ~/Desktop'
    alias cpy 'pbcopy'
{{- end }}

abbr h 'history'

{{ if lookPath "chezmoi" }}
if type -q chezmoi
    alias cm 'chezmoi'
end
{{ end }}

{{ if lookPath "lsd "}}
if type -q lsd
    alias ls 'lsd'
end
{{ end }}

{{ if lookPath "thefuck" }}
if type -q thefuck
    alias f 'thefuck'
end
{{ end }}

{{ if lookPath "bat "}}
if type -q bat
    alias cat 'bat --paging=never'
end
{{ end }}

alias mkdir 'mkdir -p'
