{{ if .personal }}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIImzFVjoEW9oCWDGBD06ioDzrjc3xWtrg6QlT2U22SEg steve@macbookpro.home
{{ else if .work }}
{{ keepassxcAttribute "SSH" "public_key_ed25519" }}
{{ end }}
