[core]
	excludesfile = "$XDG_CONFIG_HOME/git/ignore"

[help]
	autocorrect = 1

[user]
	name = {{ .name }}
	email = {{ .email | quote }}

[init]
	defaultBranch = main

[color]
	ui = auto

[merge]
  ff = only

[push]
	autoSetupRemote = true

[pull]
  rebase = true

[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
